/* Подключение normalize */
@import url(/HomeWork/normalize/normalize.css);
/* Подключение normalize */

html {
  font-size: 10px;
  Font-family: 'Public Sans';
}

body {
  min-width: 80rem;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 4.3rem;
}

.head .head__title {
  font-weight: 700;
  Font-size: 2.4rem;
  Line-height: 28px;
  Vertical-align: Top;
  margin-bottom: 7.9rem;
}

.head__note {
  font-weight: 400;
  Font-size: 1.4rem;
  margin-bottom: 2.4rem;
}

.note__star {
  color: red;
}

.head__info__title {
  font-weight: 700;
  Font-size: 2rem;
  margin-bottom: 3.2rem;
}



.title__form,
.maternity__title {
  font-weight: 700;
  font-size: 2rem;
}

.info__container {
  display: flex;
  justify-content: space-between;
}

label {
  display: block;
  margin-bottom: 8px;
}

.column__left__box1,
.column__right__box2,
.maternity__box__left,
.maternity__box__right,
.oficial__box__left,
.oficial__box__right,
.sys__info__box__left,
.sys__info__box__right {
  width: 38.9rem;
}

.column__left__box1 p,
.column__right__box2 p,
.oficial__box__right p {
  font-weight: 500;
  Font-size: 1.6rem;
}

.type__select__title span {
  color: red;
}

input,
select {
  width: 100%;
  border: 1px solid rgba(173, 173, 173, 1);
  border-radius: 4px;
  height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  Font-size: 1.6rem;

}

.column__left__box1 p:nth-child(4) input {
  color: #0050D8;
  text-transform: uppercase;
}

.row {
  background-image: url(../img/row.svg);
  background-repeat: no-repeat;
  background-position-x: right;
	background-position-y: center;
}

.column__left__box1 :nth-child(7) {
  margin-top: 2.5rem;
}

/* при подключении календаря иконка отсутствует добавляю вручную */
.date__img {
  background-image: url(../img/date.svg);
  background-repeat: no-repeat;
  background-position: 35.6rem;
}

/* убираю стрелочку по умолчанию для тега list */
input[list]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* убираю стрелочку по умолчанию для тега list */


.check {
  border-radius: 2px;
  margin-right: 0.8rem;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.column__left__box1 :nth-child(8) {
  margin-top: 2.7rem;
  font-weight: 400;
  font-size: 1.6rem;
}

.date__text {
  margin-bottom: 8px;
}

.column__right__box2 p:nth-child(1) input,
.column__right__box2 p:nth-child(3) input {
  background-color: #EFEFEF;
  color: #747474;
}

.column__right__box2 :nth-child(3) {
  margin-bottom: 12.4rem;
}

.column__right__box2 :nth-child(5) {
  margin-top: 5rem;
  margin-bottom: 2.5rem;
}

.maternity__container,
.oficial__container {
  display: flex;
  justify-content: space-between;
}

.maternity__information {
  border-top: 1px solid #D1D1D1;
  border-bottom: 1px solid #D1D1D1;
  margin-top: 2.7rem;
  margin-bottom: 3.2rem;
  max-width: 100%;
  padding: 3.2rem 0;
}

.maternity__box__left>label {
  font-weight: 400;
  font-size: 1.6rem;
}

.maternity__box__left .check {
  float: left;
}

.maternity__title {
  margin: 0 0 5.9rem 0;
}

.maternity__box__right>label {
  font-weight: 500;
  font-size: 1.6rem;
}

.maternity__box__right>input {
  font-weight: 400;
  font-size: 1.6rem;
  color: #171717;
  text-transform: none;
}

.maternity__box__right {
  padding-top: 5.6em;
}

.maternity__title {
  line-height: 2.3rem;
}

.official {
  border-bottom: 1px solid #D1D1D1;
  margin-bottom: 3.2rem;
  max-width: 100%;
  padding: 3.2rem 0;
}

.oficial__title {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 3.2rem;
}

.oficial__container p:not(:first-child) {
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}

.oficial__container p input {
  font-size: 1.6rem;
  font-weight: 400;
}

.search__image {
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 35.8rem;
}

.oficial__box__right {
  padding-top: 5.9rem;
}

.oficial__box__right p {
  margin-bottom: 2.4rem;
}


.system__information {
  max-width: 100%;
  border-bottom: 1px solid #D1D1D1;
  padding-bottom: 4rem;
  margin-bottom: 1.6rem;
}

.sys__info__box__left p {
  font-weight: 700;
  font-size: 2rem;
}

.sys__info__box__left p:not(:first-child),
.sys__info__box__right p {
  font-weight: 500;
  font-size: 1.65rem;
  margin-bottom: 2.4rem;
}

.sys__info__container {
  display: flex;
  justify-content: space-between;
}

.sys__info__box__right p:last-child input {
  color: #0050D8;
}

.sys__info__box__right {
  padding-top: 4.6rem;
}

.footer {
  max-width: 100%;
}



input[type="submit"] {
  background-color: #0050D8;
  border: none;
  border-radius: 10px;
  width: 7rem;
  height: 4rem;
  color: white;
  border-radius: 10px;
  transition: all .7s;
  font-weight: 700;
  cursor: pointer;
  float: right;
  font-size: 1.6rem
}


input[type="submit"]:hover {
  background-color: #0050D8;
  transform: scale(1.1);
}