

body{
  font-size: 25px;
}

header,
footer{
  width: 800px;
  height: 200px;
  border: 2px solid rgb(255, 81, 0);
  box-sizing: border-box;
}


main{
  display: flex;
  
}

nav{
  width: 100px;
  height: 400px;
  border: 2px solid orange;
  box-sizing: border-box;
}

section{
  width: 700px;
  height: 400px;
  border: 2px solid rgb(241, 173, 26);
  box-sizing: border-box;
}

footer{
  border: 2px solid grey;
}
