/* normalize */
@import url(/HomeWork/normalize/normalize.css);
/* normalize */

html {
  font-size: 10px;
  font-family: 'Montserrat';
}


main,
.title {
  max-width: 192rem;
  margin: 0 auto;
  padding-left: 10%;
  box-sizing: border-box;
}

main {
  background-color: #dddddd;
  padding-top: 2.5rem;
}


.wrap {
  max-width: 77.2rem;
  box-sizing: border-box;
}

.navbar {
  max-width: 192rem;
}

.navbar-brand {
  margin-right: 6.8%;
}

.form-inline {
  width: 100%;
}

.form-inline .form-control {
  width: 38%;
  height: 5rem;
  font-size: 1.6rem;
  font-weight: 500;
  background-image: url(../img/Header__input__position.svg);
  background-repeat: no-repeat;
  background-position: 3%;
  padding-left: 4.7rem;
  border: 2px solid black;
  border-radius: 5px;
}

.form-inline .btn-danger {
  margin-left: 23.8%;
  margin-right: 2.3%;
  background-color: #EF781A;
}

.form-inline .btn {
  height: 5rem;
  width: 9.8rem;
  font-weight: 700;
  font-size: 1.6rem;
  border-radius: 5px;
}

.title {
  font-weight: 800;
  font-size: 3.6rem;
  padding: 7.6rem 0 3rem 10%;
  border-top: 2px solid rgba(236, 236, 236, 1);
  box-sizing: border-box;
  box-shadow: 0 5px 7px rgb(0 0 0 / 20%);
  width: 100%;
}

.main__nav {
  display: flex;
  width: 76.7%;
  padding: 0;
  margin-bottom: 2.5rem;
}

.main__nav .main__nav__item {
  list-style: none;
  padding: 0;
  margin-right: 5%;
}

.main__nav .main__nav__item:nth-last-child() {
  margin-right: 0;
}

.main__nav .main__nav__item a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #7B7B7B;
}

.main__title {
  font-weight: 700;
  font-size: 2.4rem;
  margin: 3.5rem 0;
}

.stock__row {
  width: 82%;
}


.order__box {
  width: 30%;
  height: 31.5rem;
  background-color: #FFFFFF;
  padding-top: 2.5rem;
  box-shadow: 0 5px 7px rgb(0 0 0 / 20%);
}

.order__contet {
  width: 90%;
  height: 17.3rem;
  margin: 0 auto;
}

.order__title {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0 0 3rem 0;
  padding: 0;
}

ul .order__list__item {
  color: #979797;
}


.order__list .list__title {
  list-style: none;
  font-size: 1.4rem;
  font-weight: 500;
  color: black;
}

.circle {
  max-width: 2.8rem;
  height: 2.8rem;
  border-radius: 1.5rem;
  background-color: #FF6C01;
  padding: 0;
}

.amount {
  width: 100%;
  margin-bottom: 3rem;
}

.amount span {
  font-size: 1.4rem;
  font-weight: 500;
}



.price,
.delivery__title {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0;
}

.delivery__box {
  width: 100%;
}

.order__btn {
  background-color: #FF6C01;
  width: 92%;
  border: none;
  border-radius: 10px;
  height: 6.2rem;
  align-items: center;
  margin-top: 3rem;
  padding: 0 2rem;
  font-weight: 800;
  font-size: 1.8rem;
}

.order__btn p {
  margin: 0;
  padding: 0;
}



.card-title {
  font-weight: 500;
  font-size: 1.8rem;
}

.card__box {
  margin-bottom: 3rem;
  max-width: 77.4rem;
}

.card {
  max-width: 23rem;
  height: 27.5rem;
  box-shadow: 0 5px 7px rgb(0 0 0 / 20%);
  padding: 0;
}


.card-text {
  color: rgba(161, 161, 161, 1);
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
  width: 15.8rem;
  height: 2.4rem;
}

.card-price {
  font-weight: 500;
  font-size: 1.8rem;
  display: block;
  margin-bottom: 1rem;
}

.price__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.9rem;
  width: 90%;
}

.card .btn {
  background-color: #FF6C01;
  width: 49.6%;
  height: 3.5rem;
  border-radius: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
  padding-top: 7px;
  border: none;
}

.card .btn-primary {
  display: none;
  width: 11.3rem;
}

.card:hover .card-price {
  display: none;
}

.card:hover .btn-primary {
  display: block;
}

.card:hover path {
  fill: rgba(105, 160, 66, 1);
}

.partners__content {
  background-color: #FFFFFF;
  border-radius: 1rem;
  padding: 3rem;
  margin-top: 3rem;
}

.partners__content {
  max-width: 79rem;

}

.patners__list {
  width: 30rem;
  padding: 0;
}

.patners__list li {
  list-style: none;
  padding: 0;
}

.patners__list li:nth-last-child() {
  margin-bottom: 0;
}

.list__title {
  font-size: 1.4rem;
  font-weight: 500;
  color: rgba(153, 153, 153, 1);
  margin-bottom: 0.8rem;
}

.list__content {
  font-size: 1.6rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 1.5rem;
}


footer {
  max-width: 192rem;
  margin: 0 auto;
  background-color: black;
}


.footer__text {
  font-weight: 500;
  font-size: 1.8rem;
}

.soc__link {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

footer .nav {
  padding: 0 10% 0 10%;
}

.nav .soc__link img {
  width: 100%;
  margin-top: 5px;
}

footer .nav-item:nth-child(1) .soc__link {
  background-color: #2F89CE;
}

footer .nav-item:nth-child(2) .soc__link {
  background-color: #4E6297;
  margin: 0 1.8rem;
}

footer .nav-item:nth-child(3) .soc__link {
  background: linear-gradient(to bottom left, #B62A99, #D64763, #EEA054);
}
