.correct { 
  background-color: green;
}

.error{
 background-color: red;
}

input{
  border: 5px solid silver;
}

.registr{
  border: 3px solid rgb(128, 235, 144);
}

  .spanError{
    display: block;
    margin-left: 114px;
    margin-top: 0;
    color: red;
    font-size: 18px;
  }

