
img{
  width: 25%;
}

.zodiac__ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: rgba(87, 87, 229, 0.786)
}

.gradient {
	color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to bottom, rgba(4, 29, 131, 0.901), rgba(63, 116, 241, 0.863));
}