/* Подключение normalize */
@import url(/HomeWork/normalize/normalize.css);
/* Подключение normalize */

html {
  font-size: 10px;
  --color--y: #FFB742;

}

body {
  background-color: #212529;
}


.wrap {
  max-width: 134.2rem;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10.8rem;
}

.header a,
.about__hir__btn {
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 1.8rem;
  color: white;
  text-transform: capitalize;
}

.header__nav,
.works__nav {
  display: flex;
}

.header nav a:hover,
.box__list a:hover,
.news__box__text a:hover{
  color: var(--color--y);
  transition: 0.6s;
}

.header__nav li {
  list-style: none;
  margin: 0 1.2rem;
}

.header .header__btn,
.about__hir__btn {
  font-weight: 700;
  color: #212529;
  padding: 1.2rem 2.6rem;
  background-color: #FFB742;
  display: inline-block;
  border-radius: 50px;
  white-space: nowrap;
  text-decoration: none;
}


.content {
  display: flex;
  justify-content: center;
  margin-bottom: 13.6rem;
}

.content__greetings {
  font-family: 'Inter';
  color: white;
  width: 96.4rem;
  text-align: center;
}

.content__greetings p {
  margin: 0;
  padding: 0;
}

.content__greetings__name {
  font-weight: 700;
  font-size: 3.2rem;
}

.greetings__name__decor {
  color: #FFB742;
  border-bottom: 2px solid #FFB742;
}

.content__greetings__name::after {
  content: '\1F44B';
}


.content__greetings__title {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 9rem;
}

.content__greetings .content__greetings__text {
  font-weight: 400;
  font-size: 2.4rem;
  margin: 2.5rem 0 2.2rem 0;
}


.achievements {
  display: flex;
  justify-content: space-between;
  padding: 0 2.2rem;
  margin-bottom: 13.6rem;
}

.achievements__box {
  text-decoration: none;
  text-transform: capitalize;
  background-color: #292B2E;
  border-radius: 2.4rem;
  display: flex;
  flex-basis: 41.6rem;
  font-weight: 700;
  font-family: 'Inter';
  text-align: center;
  padding: 2.5rem 3rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  color: rgba(255, 183, 66, 1);
}

.achievements .achievements__box:hover {
  background-color: #FFB742;
}

.achievements :hover p {
  color: black;
}


.achiv__text p {
  margin: 0;
}

.achiv__text {
  flex-basis: 15.9rem;
}

.achievements__box::after {
  content: '\203A';
  color: #B3B3B3;
  font-size: 20px;
}

.achiv__text .achivements__value {
  font-size: 3.2rem;
  margin-bottom: 2rem;

}

.achivements__discript {
  font-size: 1.6rem;
  color: white;
}

.achiv__logo {
  margin-right: 5.6rem;
}

.about {
  display: flex;
  margin-bottom: 13.6rem;
}


.about__me__title,
.skills__title,
.works__title,
.reviews__title {
  text-transform: uppercase;
  display: inline;
  padding: 0.6rem 2.5rem;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.08);
  color: var(--color--y);
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 2rem;
  text-decoration: none;
}

.about__text {
  padding-top: 9.1rem;
  width: 50%;
}

.about__text__title,
.skills__text__title,
.works__text__title,
.reviews__text__title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 4.8rem;
  margin: 0 2.5rem 0 0;
  color: white;
}

.about__text__content,
.skills__text__content {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 1.6rem;
  color: #D4D4D4;
  margin-bottom: 5.4rem;
}

.my__skills {
  display: flex;
  margin-bottom: 13.6rem;
  justify-content: space-between;
}

.skills__content {
  width: 50%
}




.skills__content__items td {
  background-color: rgba(255, 255, 255, 0.08);
  text-align: center;
  border-radius: 20px;
  border: 8px solid #212529;
  width: 8rem;
  height: 8rem;
}

.skills__content__items tr,
.works__photo tr {
  display: table-header-group;
}

.skills__content__items td:hover {
  background-color: rgba(255, 183, 66, 0.5);
  border: 1px solid black;
}

.skills__content__items td:nth-child(6) {
  border-right: none;
}



.works {
  margin-bottom: 13.6rem;
}

.works__content {
  text-align: center;
}

.works__nav {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.works__nav li {
  list-style: none;
  margin: 0 2.4rem;
}

.works__nav a {
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 1.6rem;
  color: white;
  text-transform: capitalize;
  border-radius: 3px;
  padding: 0.5rem 1.9rem;
}

.works__nav a:hover {
  background-color: #FFB742;
  color: #212529;
}

.works__photo {
  display: flex;
  justify-content: space-around;
}

.works__photo img {
  box-sizing: border-box;
  border-radius: 0.5rem;
  margin: 1.5rem;
  width: 39rem;
}

.works__photo td {
  text-align: center;
  border-radius: 20px;
  width: 39rem;
}


.reviews {
  margin-bottom: 25.3rem;
}

.reviews__content {
  text-align: center;
}

.reviews__container {
  display: flex;
  justify-content: space-around;
  margin-top: 9rem;
  padding: 0 6rem;
}

.reviews__content .reviews__text__title {
  margin-top: 0.8rem;
}

.reviews__box {
  max-width: 37.8rem;
  background-color: white;
  border-radius: 3px;
  padding: 5.1rem 3.3rem;
  color: black;
}

.reviews__box:nth-child(2) {
  margin: 0 2rem;
}

.reviews__text {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 2rem;
}

.naime {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 2rem;
  margin: 3rem 0 1rem 0;
}

.job {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 1.6rem;
  margin: 0;
}

.reviews__box img {
  float: left;
  margin-right: 2.4rem;
}

.reviews__stars {
  display: flex;
  padding: 0;
}

.reviews__stars li {
  list-style: none;
}

.reviews__stars li::after {
  content: '\2b50';
  font-size: 13px;
}

.footer {
  background-color: #1C1C1C;
}

.wrap__footer__content {
  max-width: 134.2rem;
  display: flex;
  justify-content: space-around;
  padding: 19.1rem 2rem 9.3rem 2rem;
  margin: 0 auto;
}


.footer__title {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 3.2rem;
  color: var(--color--y);
}

.footer__text {
  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 1.6rem;
  color: #D4D4D4;
}

.box__title {
  font-family: 'Work Sans';
  font-weight: 700;
  font-size: 2.1rem;
  color: #F5FBF2;
}


.box__list li {
  list-style: none;
}

.box__list a,
.news__box__text a {
  text-decoration: none;
  font-family: Work Sans;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  color: #7B7B7B;
}

.box__list {
  padding: 0;
}

.news__box {
  max-width: 31.9rem;
}

.footer__text__container {
  max-width: 25.3rem;
}