/* Подключение normalize */
@import url(/HomeWork/normalize/normalize.css);
/* Подключение normalize */

html {
  font-size: 10px;
  font-family: 'Rosario';
}

.wrap {
  max-width: 162rem;
  margin: 0 auto;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* подгоняю бутстрап */

/*---------------------- Header---------------------- */
.navbar {
  justify-content: space-between;
  height: 10.9rem;
  padding: 0 1rem 0 0;
  background-color: black !important;
}

.navbar-collapse {
  flex-grow: unset;
}

.navbar-dark .navbar-nav .nav-link {
  text-decoration: none;
  color: #FFFCFC;
  font-family: 'Rosario';
  font-style: italic;
  font-weight: 600;
  font-size: 3.1rem;
}



.nav-item {
  list-style: none;
  padding: 3.7rem 1rem;
}

.navbar-nav li:first-child {
  margin-left: 0;
}

/*---------------------- Header---------------------- */


/*---------------------- кнопка бургер----------------------*/
.navbar-dark .navbar-toggler {
  width: 9rem;
  height: 9rem;
  padding: 0;
}

.navbar-dark .navbar-toggler-icon {
  width: 100%;
  height: 100%;
}

.navbar-dark .navbar-toggler-icon img {
  background-color: white;
}



.navbar-toggler:hover .collapse .navbar-nav .nav-link {
  color: black;
}


/*----------------------кнопка бургер----------------------*/


/* подгоняю бутстрап */

.header__logo {
  height: 11.5rem;
  margin: 0;

}

.header__logo img {
  height: 100%;
}



.content__container {
  width: 95%;
  margin: 0 auto;
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
}


.content__center__img__boxes {
  width: 52.1%;
  margin: 7.1rem 2.5rem;
  display: flex;
}

.content__center__img__boxes img {
  width: 46.7rem;
}

.content__center__container__left {
  margin-right: 1.8rem;
}

.content__center__container__left,
.content__center__container__right {
  width: 47.5rem;
}

.content__center__container__left img,
.content__center__container__right img {
  width: 100%;
}

.content__center__container__left img:first-child,
.content__center__container__right img:first-child {
  margin-bottom: 2.2rem;
}

.content__center__container__left img:first-child {
  animation: GalleryCenterLeft 1s linear 1;
  position: relative;
}

.content__center__container__left img:nth-child(2) {
  animation: GalleryCenterLeft 1.5s linear 1;
  position: relative;
}

.content__center__container__right img:first-child {
  animation: GalleryCenterRight 1s linear 1;
  position: relative;
}

.content__center__container__right img:nth-child(2) {
  animation: GalleryCenterRight 1.5s linear 1;
  position: relative;
}

@keyframes GalleryCenterLeft {
  from {
    transform: translateX(-300%) rotate(-360deg);

  }

  to {
    transform: translateX(0);
  }
}

@keyframes GalleryCenterRight {
  from {
    transform: translateX(300%) rotate(360deg);
  }



  to {
    transform: translateX(0);
  }
}

.content__left__img,
.content__right__img {
  position: relative;
  width: 37rem;
}

.content__left__img img,
.content__right__img img {
  width: 100%;
}

.content__left__img {
  animation: GalleryLeftImage 1.7s linear 1;
}

.content__right__img {
  animation: GalleryRightImage 1.7s linear 1;
}


@keyframes GalleryLeftImage {
  from {
    transform: translateX(-300%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes GalleryRightImage {
  from {
    transform: translateX(300%);
  }

  to {
    transform: translateX(0);
  }
}

.service {
  display: flex;
  align-items: center;
}

.service__right__container {
  width: 94.5rem;
}

.service__left__container {
  width: 97.4rem;
  padding-top: 15rem;
  margin: 0 auto;
}

.service__right__container img {
  width: 100%;
}

.service__photo__top {
  margin-bottom: 15.5rem;
}

.service__photo__top,
.service__photo__bottom {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.service__photo {
  max-width: 38%;
  border-radius: 15rem;
}

.service__photo img {
  width: 100%;
}

.styling__anim {
  animation: ServiceStyling 5s linear infinite;
}

@keyframes ServiceStyling {

  from,
  to {
    transform: translate(0);
  }

  25% {
    transform: translateX(163%);
  }

  50% {
    transform: translate(163%, 140%);

  }

  75% {
    transform: translate(0, 140%);
  }
}


.trimming__anim {
  animation: ServiceTrimming 5s linear infinite;
}

@keyframes ServiceTrimming {

  from,
  to {
    transform: translate(0);
  }

  25% {
    transform: translateY(145%);
  }

  50% {
    transform: translate(-155%, 145%);
  }

  75% {
    transform: translate(-155%, 0);
  }

}

.shave__anim {
  animation: ServiceShave 5s linear infinite;
}

@keyframes ServiceShave {

  from,
  to {
    transform: translate(0);
  }

  25% {
    transform: translateY(-125%);
  }

  50% {
    transform: translate(163%, -125%);
  }

  75% {
    transform: translateX(163%);
  }

}

.straightening__anim {
  animation: ServiceStraightening 5s linear infinite;

}

@keyframes ServiceStraightening {

  from,
  to {
    transform: translate(0);
  }

  25% {
    transform: translateX(-155%);
  }

  50% {
    transform: translate(-155%, -125%);
  }

  75% {
    transform: translateY(-125%);
  }
}

.service__photo p {
  font-weight: 700;
  font-style: italic;
  font-size: 4.8rem;
  text-align: center;
  margin: 0;
}



.team {
  width: 100%;
  text-align: center;
  margin-top: 15rem;
}

.team__title {
  font-weight: 700;
  font-size: 9.6rem;
  margin-bottom: 5.1rem;
}

.cards__team__container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.card__team {
  width: 40rem;
  border-radius: 4rem;
  text-align: center;
  transition: all .5s;
  filter: brightness(0.7);
  position: relative;
  margin: 0.5rem;
}



.card__team p {
  border-radius: 0 0 4rem 4rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 15.4rem;
  background-color: rgba(163, 83, 10, 0.7);
  opacity: 0;
  transition: all .5s;
  font-size: 4.8rem;
  font-family: 'Volkhov';
  font-weight: 400;
  color: #FFFAFA;
  padding-top: 5.5rem;
  box-sizing: border-box;
  margin: 0;

}



.card__team img {
  width: 100%;
  height: 100%;
}

.card__team:hover p,
.card__team:hover {
  opacity: 1;
  filter: none;
}


footer {
  margin-top: 17.9rem;
  width: 100%;
  height: auto;
}

.footer__container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.footer__box {
  width: 70%;
}

.footer__title__box {
  width: 75%;
  text-align-last: center;
  margin: auto;
}

.footer__title {
  font-weight: 700;
  font-style: italic;
  font-size: 6.4rem;
}

.send__box {
  width: 95%;
  background-color: rgba(229, 229, 229, 1);
  padding: 2%;
}

.send__box p {
  display: inline;
}

.send__box p input {
  height: 8rem;
  font-size: 3.6rem;
  font-weight: 700;
  padding-left: 2%;
  margin-bottom: 2rem;
}

.send__box p:first-child {
  margin-right: 4%;
}

.send__box p input[type="text"] {
  width: 40%;
}

.send__box p input[type="email"] {
  width: 55%;
}

.send__box textarea {
  width: 100%;
  height: 70%;
  font-size: 3.6rem;
  font-weight: 700;
  padding: 2rem;
  box-sizing: border-box;
}


.map {
  width: 62.6rem;
  height: 57rem;
}

iframe {
  width: 100%;
}



.contacts {
  max-width: 89%;
  margin: 7.5rem auto;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.contacts__info {
  width: 30%;
}


.contacts__info li,
.work__hours__info,
.social__list li {
  list-style: none;
  font-size: 3rem;
  font-weight: 600;
  font-style: italic;
  text-align: center;
}

.contacts__info li span,
.social__title {
  font-size: 3rem;
  font-weight: 700;
}

.contacts__info li a,
.social__list li a {
  text-decoration: none;
  color: black;
}

.work__hours {
  width: 48.5rem;
  height: 18.7rem;
  text-align: center;
}


.work__hour__title {
  margin-top: 0;
  font-size: 3.6rem;
  font-weight: 700;
}

.work__hours__info {
  margin: 0;
}

.footer__social {
  width: 39rem;
  height: 18.6rem;
  text-align: center;
}

.footer__social p {
  margin: 0;
}

.social__list li a div {
  width: 2.6rem;
  height: 2.6rem;
  display: inline-block;
}


.insta {
  background-image: url(../img/insta.svg);
  background-size: cover;

}

.faceb {
  background-image: url(../img/faceb.svg);
  background-size: cover;
}

.twitt {
  background-image: url(../img/twitt.svg);
  background-size: cover;
}

/*------------------------  (screen < 768px) --------------------------- */

@media screen and (max-width:768px) {
  html {
    font-size: 5px;
  }

  .collapse {
    text-align: end;
  }

  .collapse .navbar-nav .nav-item {
    padding: 1rem;
  }

  .collapse .navbar-nav .nav-link {
    color: black;
    font-size: 8rem;
  }

  .collapse .navbar-nav .nav-link:hover {
    color: dimgray;
  }


  .content__container {
    display: block;
  }

  .content__left__img,
  .content__right__img {
    position: relative;
    margin: 1.2rem auto;
    height: auto;
  }

  .content__center__container__left img,
  .content__center__container__right img {
    width: 37.7rem;
  }

  .content__center__container__left img:first-child,
  .content__center__container__right img:first-child {
    margin-bottom: 1.2rem;
  }


  .content__center__img__boxes {
    display: block;
    height: max-content;
    max-width: min-content;
    margin: 0 auto;
  }

  .content__center__container__left,
  .content__center__container__right {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0 1.2rem;
  }


  .content__center__container__left img:first-child,
  .content__center__container__right img:first-child,
  .content__right__img {
    animation: GalleryCenterRight 1s linear 1;
    position: relative;
  }

  .content__center__container__right img:nth-child(2),
  .content__center__container__left img:nth-child(2),
  .content__left__img {
    animation: GalleryCenterLeft 1s linear 1;
    position: relative;
  }

  @keyframes GalleryCenterRight {
    from {
      transform: translateX(300%);

    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes GalleryCenterLeft {
    from {
      transform: translateX(-300%);
    }

    to {
      transform: translateX(0);
    }
  }

  .service__right__container {
    display: none;
  }

  .cards__team__container {
    display: block;
    width: max-content;
    margin: 0 auto;
  }


  .send__box {
    margin: 5.5rem auto;
    padding: 2rem;
  }

  .footer__container {
    padding: 0;
    align-items: center;
    flex-direction: column-reverse;
  }

  .footer__title__box {
    width: 100%;
  }

  .contacts__info {
    padding: 0;
    text-align: center;
  }

  .contacts {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .social__list {
    padding: 0;
  }

  .contacts__info,
  .work__hours {
    margin: 1.5rem;
  }
}

/*------------------------  (screen < 768px) --------------------------- */



/*------------------------  (screen < 992px) --------------------------- */

@media screen and (max-width: 992px) and (min-width:769px) {

  html {
    font-size: 6px;
  }

  .collapse {
    text-align: end;
  }

  .collapse .navbar-nav .nav-item {
    padding: 1rem;
  }

  .collapse .navbar-nav .nav-link {
    color: burlywood;
    font-size: 5rem;
  }

  .collapse .navbar-nav .nav-link:hover {
    color: dimgray;
  }



  .content__container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .content__left__img,
  .content__right__img {
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin: 2rem;
  }


  .content__center__img__boxes {
    margin-top: auto;
    order: 2;
    width: fit-content;
    text-align: center;
    width: 77rem;
  }

  .content__center__container__left img:first-child,
  .content__center__container__right img:first-child {
    margin-bottom: 2.2rem;
  }

  .content__center__container__left img,
  .content__center__container__right img {
    width: 100%;
  }

  .content__center__container__left {
    margin-right: 3.8rem;
  }

  .service {
    flex-direction: column-reverse;
    width: 100%;
  }

  .service__right__container {
    width: 100%;
    text-align: center;
  }

  .cards__team__container {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
  }

  .footer__container {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .footer__title__box {
    width: 100%;
  }

  .send__box {
    margin-bottom: 5.5rem;
  }

  .contacts {
    margin: 5.5rem 0;
    max-width: 100%;
    padding: 0;
    order: 1;
  }


  footer {
    display: flex;
    flex-direction: column-reverse;

  }

  .contacts {
    order: 1;
  }

}