header {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #0BBBD3;
  text-align: center;
  font-size: 48px;
  margin: 20px 0;
}

.text__head {
  color: black;
}

.background {
  background: url(../img/bckg.jpg);
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 852px;
  position: relative;
  margin-bottom: 60px;
}

.flag {
  width: 24px;
  height: 388px;
  background: linear-gradient(#33B8F1 50%, #E8F82F 50%);
  position: absolute;
  top: 27%;
  left: 6%;

}

.text__background {
  width: 80%;
  position: absolute;
  top: 27%;
  left: 11%;
}

.text__bckg {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 64px;
  color: white;
  font-weight: bold;
  margin: 34px 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.attractions__head {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  border-bottom: 5px solid #33B8F1;
  width: 361px;
  margin-left: 61px;
  margin-bottom: 121px;
}

.content {
  width: 100%;
  text-align: center;
}

.box {
  display: inline-block;
  border-radius: 37px;
  width: 400px;
  height: 481px;
  margin: 10px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
}



.image__box {
  width: 401px;
  
}


.description {
  display: inline-table;
  font-family: 'Inter';
  font-weight: normal;
  line-height: 149%;
  font-size: 22pt;
  text-align: left;
  color: #595050;
  width: -webkit-fill-available;
  /* Вот тут совсем не понял что я сделал но это помогло выровнять текст по левому краю */
}

a:hover {
  cursor: pointer;
}

.garden__sheva a,
.France__boulevard a,
.Lopansk__row a {
  font-family: 'Inter', bold;
  font-size: 20pt;
  font-weight: bold;
  text-decoration: none;
}

.heart__head {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 48px;
  margin-bottom: 5px;
  margin-top: 60px;
}

hr {
  width: 365px;
  height: 5px;
  background-color: #33B8F1;
  border: none;
  margin-bottom: 120px;
}



.button {
  text-align: center;
  background-color: #33ADF1;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 48px;
  color: white;
  padding: 15px 35px;
  margin-top: 10px;
}

.footer {
  text-align: center;
  width: 100%;
}

.footer__content {
  margin: 0 auto;
  background-color: #0A2DA9;
  max-width: 1440px;
  margin-top: 176px;
  padding-top: 50px;
  padding-bottom: 26px;

}

.text__footer {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #0BBBD3;
  text-align: center;
  font-size: 64px;
}

.text__foot {
  color: white;
}

.contacts {
  display: block;
  text-decoration: none;
  color: #353949;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  margin: 30px 50px;
}

.social__contacts {
  margin-top: 48px;
}

.social__contacts a {
  display: inline-block;
  width: 68px;
  height: 64px;
  margin: 0 27px;
  border-radius: 100px;
  background-color: #0931BF;
}

.twitter {
  background-image: url(../img/twitter.png);
  background-repeat: no-repeat;
  background-position: 13px;
}

.telega {
  background-image: url(../img/telega.png);
  background-repeat: no-repeat;
  background-position: 5px;
}

.insta {
  background-image: url(../img/insta.png);
  background-repeat: no-repeat;
  background-position: 11px;
}

.fb {
  background-image: url(../img/facebook.png);
  background-repeat: no-repeat;
  background-position: 10px;
}