html {
  font-size: 10px;
  color: #C9D6DF;
}

.head__img {
  margin: 0 auto;
  max-width: 143.8rem;
  width: 100%;
  background-image: url(../img/head__img.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 64.7em;
}

.header {
  margin: 0 auto;
  width: 100%;
  max-width: 128.3rem;
  height: 6.3rem;
  padding-top: 1.7rem;
  border-bottom: 1px solid #C9D6DF;
}

.header__nav__container {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.header__logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(../img/BMW\ logo.svg);
  background-repeat: no-repeat;
}

a:hover {
  filter: saturate(9);
  transition: 400ms;
  cursor: pointer;
}

.app__logo:hover {
  filter: none;
}

.header__logo:hover {
  filter: none;
  transition: 400ms;
  transform: scale(1.3);
}

.header__select__btn__container {
  position: absolute;
  width: 46%;
  display: inline-block;
  max-width: 49.2rem;
  top: 1.3rem;
  left: 38rem;
}

.header_nav_btn__container {
  position: absolute;
  display: inline-block;
  max-width: 17.7rem;
  width: 14%;
  top: 1.3rem;
  right: 3rem;
}

.header__nav__container a {
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 2rem;
  color: #C9D6DF;
  margin-right: 6rem;
}

.header_nav_btn__container a {
  margin-right: 3rem;
}

.header__nav__container a:last-child {
  margin-right: 0;
}

.title_head {
  transition: 600ms;
  color: rgba(0, 0, 0, 0);
  width: 43.6rem;
  height: 70px;
  margin: 0 auto;
  text-align: center;
}

.head__img:hover .title_head {
  color: #C9D6DF;
  transition: 600ms;
}

.title__i4 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 3.4rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

.i4__descript {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 2.4rem;
  margin-top: 0.5rem;
}


.content {
  padding-top: 12.9rem;
  margin: 0 auto;
  max-width: 143.8rem;
  height: 1732px;
  background-color: #52616B;
}

.content__choice_prestige {
  width: 100%;
  margin: 0 auto;
  max-width: 119.5rem;
  height: 50rem;
  background-image: url(../img/the\ 8\ 1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.content__choice_prestige:hover {
  transform: scale(1.1);
  transition: 600ms;
  filter: saturate(5);

}

.content__choice__x7:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
  transition: 600ms;
}


.content__choice__5:hover {
  filter: hue-rotate(90deg);
  transform: scale(1.1);
  transition: 600ms;
}




.prestige__container {
  max-width: 33.8rem;
  height: 9.7rem;
  padding-top: 1.9rem;
  padding-left: 8.8rem;
}

.prestige__title,
.x7__title,
.mod5__title {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 3.4rem;
  margin: 0;
  padding-top: 1.2rem;
}

.prestige__model,
.x7__model,
.mod5__model {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 4rem;
  text-transform: uppercase;
  margin: 7px 0;
}

.choice__x7__5__container {
  width: 100%;
  margin: 0 auto;
  max-width: 119.5rem;
  margin-bottom: 97px;
  text-align: center;
}

.content__choice__x7,
.content__choice__5 {
  display: inline-block;
  width: 59rem;
  height: 34.1rem;
  box-sizing: border-box;
  margin-top: 17px;
}

.content__choice__x7 {
  background: url(../img/the\ x7\ 2.jpg);
  margin-right: 11px;
  padding-left: 2.6rem;
}



.x7__container {
  text-align: left;
}

.content__choice__5 {
  background: url(../img/the\ 5\ 1.jpg);
  text-align: center;
}


.build__content {
  width: 100%;
  max-width: 144rem;
  height: 648px;
  background: url(../img/bmw\ of\ dream\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.title__build {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 4.5rem;
  text-transform: uppercase;
  margin: 0;
  padding-top: 2.1rem;
}

.button__container {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 3.8rem;
}

.build__button {

  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 2.4rem;
  padding: 1.8rem 7.3rem;
  background-color: #1E2022;
  max-width: 32.7rem;
  height: 6.5rem;
  border-radius: 8px;
  text-decoration: none;
  color: #C9D6DF;

}


.app__block {
  width: 100%;
  margin: 0 auto;
  max-width: 144rem;
  height: 629px;
  background: url(../img/bmw-my-bmw-app-lp-cp-xxl\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.container_app {
  height: 90px;
  width: 80%;
  position: relative;
  padding: 24px 0 0 24px;
}

.app__logo img:hover {
  transform: scale(1.1);
  transition: 600ms;
  filter: drop-shadow(5px 2px 5px #062a5d);
}

.title__app {
  width: 278px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 3.4rem;
  position: absolute;
  top: 28px;
  left: 140px;
  margin: 0;
}

.footer {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  height: 378px;
  background-color: #1E2022;
}

.container__footer {
  width: 95%;
  margin: 0 auto;
  padding-left: 90px;
}

.box {
  width: 20%;
  height: 180px;
  display: inline-block;
  text-align: left;
  margin-top: 52px;
  vertical-align: middle;
}

.footer a {
  text-align: left;
  text-decoration: none;
  color: #C9D6DF;
}

.footer li {
  list-style: none;
  line-height: 4.3rem;
}

.foot__title,
.list,
.soc {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
  margin-bottom: revert;
}

.list {
  font-size: 1.6rem;
  padding-left: 0;
}

.box .soc {
  padding-left: 2em;
}

.container__soc {
  width: 19.5rem;
  height: 25px;
  margin-left: 4rem;
}

.container__soc a {
  display: inline-block;
  width: 30px;
  height: 26px;
  margin-right: 15px;
}

.container__soc a:hover {
  transition: 400ms;
  transform: scale(1.3);

}

.fb {
  background: url(../img/FB.svg);
  background-repeat: no-repeat;
  background-position: 0;
}

.twit {
  background: url(../img/twit.svg);
  background-position: 1px;
}

.insta {
  background: url(../img/inst.svg);
  background-repeat: no-repeat;
  background-position: 2px;
}

.youtube {
  background: url(../img/yt.svg);
  background-repeat: no-repeat;
  background-position: 0;
}