/* Подключение normalize */
@import url(/HomeWork/css/normalize.css);
/* Подключение normalize */


html {
  font-size: 10px;
}

a:hover {
  cursor: pointer;
}

body {
  max-width: 195rem;
  margin: 0 auto;
  background-color: #F5F5F5;
}

header {
  background-color: #202846;
  position: sticky;
  top: 0;
  overflow: hidden;
  padding: 10px;
  height: 73px;
  z-index: 1;
}

.go__to__top__btn {
  width: 101px;
  background-color: rgba(85, 87, 104, .5);
  text-align: center;
  border-radius: 50%;
  position: fixed;
  left: 90vw;
  bottom: 10rem;
  color: white;
  text-decoration: none;
  font-size: 7rem;
  z-index: 2;
}



.logo {
  float: left;
  margin-left: 13.8rem;
}

nav {
  float: right;
  width: 70%;
}

.header__nav {
  padding: 0;
  margin: 0;
}

.header__navigation-item a:hover {
  cursor: pointer;
}

.header__navigation-item a {
  text-decoration: none;
  color: white;
  font-family: 'PT sans';
  font-weight: 700;
}

.header__navigation-item {
  width: 22.2rem;
  list-style: none;
  float: left;
  border-right: 2px solid white;
  text-align: center;
  font-family: 'PT sans';
  font-weight: 700;
  font-size: 2.4rem;
  display: block;

  text-decoration: none;
  text-transform: uppercase;
  line-height: 6rem;
  box-sizing: border-box;

}

.header__navigation-item:nth-child(5) {
  line-height: normal;
  margin-right: 3.8rem;
}

.header__navigation-item:nth-child(6) {
  height: 75px;
  padding: 0;
  width: 11.8rem;
  border: none;
}

.content {
  background-color: #d6d6d6;
  height: 185rem;
  max-width: 195rem;
}

.conntent__arm,
.cabinet__user,
.contacts__title__box {
  width: 100%;
  height: 140px;
  background-color: #C6C6DC;
  padding-left: 22.7rem;
  box-sizing: border-box;
  padding-top: 3.2rem;
}

.content__arm__title,
.cabinet__users__title,
.contacts__title__text {
  font-family: 'PT sans';
  font-weight: 400;
  font-style: italic;
  font-size: 4.8rem;
  color: #202846;
  margin: 0;
}

.content__discript {
  width: 100%;
  max-width: 148.9rem;
  height: 1437px;
  margin: 0 auto;
}

.content__arm__geoposition {
  width: 100%;
  max-width: 148.9rem;
  height: 73px;
  background-color: #E8E8E8;
  text-align: center;
  margin-top: 7.4rem;
  padding-top: 1.9rem;
  padding-right: 14px;
  margin-bottom: 5.6rem;
  box-sizing: border-box;
}

.content__arm__geoposition__title {
  font-family: 'PT sans';
  font-weight: 400;
  font-size: 2.8rem;
  color: #000000 61%;
  margin: 0;
}

.content__arm__geoposition span::after {
  content: "\25BC";
  float: right;
  font-size: 3rem;
  color: black;
}


.content__box {
  max-width: 148.9rem;
  width: 100%;
  height: 300px;
  background-color: #BDBDC6;
  margin-bottom: 3.6rem;
  position: relative;
  padding: 28px 0 0 103px;
  box-sizing: border-box;
  border: 1px solid;
}

.content__box:hover {
  background-color: #AEAEE2;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);

}


.content__box img {
  width: 48.5rem;
  height: 24.4rem;
  box-sizing: border-box;
  float: left;
}

.box__container {

  margin-left: 60rem;
}

.box__title {
  font-family: 'PT sans';
  font-weight: 700;
  font-style: italic;
  font-size: 3.6rem;
  margin: 0 0 10px;
  border-bottom: 3px solid white;
  width: 71.4rem;
  line-height: 46px;
}

.box__discript {
  background-color: #D7D7DD;
  width: 71.4rem;
  height: 184px;
  text-align: center;
  padding-top: 5px;
}

.box__discript__text__bacota,
.box__discript__text__karpati,
.box__discript__text__kiyv,
.box__discript__text__odessa {
  font-family: 'PT sans';
  font-weight: 400;
  font-style: normal;
  font-size: 2.2rem;
  color: #202846;
  line-height: 33px;
  margin: 10px auto 0 auto;
}

.box__discript__text__bacota {
  width: 611px;
}

.box__discript__text__karpati {
  width: 51.6rem;
}


.box__discript__text__kiyv {
  width: 63rem;
}

.box__discript__text__odessa {
  width: 65.2rem;
}

.star__but {
  width: 50px;
  height: 50px;
  left: 95.5%;
  top: 0%;
  position: absolute;
  font-size: 6.5rem;
  text-decoration: none;
  color: white;
}

.star__but:hover {
  color: #F2F60C;
}

.details__but {
  font-family: 'PT sans';
  text-decoration: none;
  font-weight: 400;
  font-size: 2.4rem;
  color: white;
  text-align: center;
  padding-top: 13px;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  background: #202846;
  display: inline-block;
  position: absolute;
  left: 90%;
  top: 74%;
  border: 1px solid ;
  box-sizing: border-box;
}

.details__but:hover {
  background: #EF075B;
}


.content__user__cabinet {
  background-color: #d6d6d6;
  height: 960px;
}

.user__info {
  height: 49.8rem;
  width: 131.8rem;
  margin: 41px auto;
  padding: 0;
  background-color: #BDBDC6;
}

.box__info__avatar {
  height: 49.8rem;
  width: 51.5rem;
  float: left;
}

.avatar {
  background-image: url(../img/avatar.png);
  width: 196px;
  height: 184px;
  margin: 77px auto;
  margin-bottom: 38px;
}

.box__info {
  height: 49.8rem;
  width: 80.4rem;
  margin-left: auto;
  padding-top: 45px;
  box-sizing: border-box;
}

.info__avatar_btn,
.info__options__btn {
  box-sizing: border-box;
  display: block;
  width: 250px;
  height: 50px;
  background-color: #484A54;
  border-radius: 25px;
  text-align: center;
  font-family: 'PT sans';
  font-weight: 400;
  font-size: 2.4rem;
  color: white;
  padding-top: 9px;
  text-decoration: none;
  margin: 0 auto 22px auto;
}

.info__avatar_btn:hover,
.info__options__btn:hover {
  background-color: #69749B;
}

.user__contacts {
  font-family: 'PT sans';
  font-size: 3.6rem;
  font-weight: 700;
  font-style: bold italic;
  color: #353C57;
  border-bottom: 3px solid white;
  width: 712px;
  line-height: 80px;
  margin: 0;
}

.user__contacts__decor {
  font-family: 'PT sans';
  font-size: 3.6rem;
  font-weight: 400;
  font-style: italic;
  color: #353C57;
}

.user__contacts:nth-child(5) {
  border: none;
}

.user__cab__exit__btn {
  box-sizing: border-box;
  display: block;
  width: 212px;
  height: 62px;
  background-color: #202846;
  border-radius: 31px;
  text-align: center;
  font-family: 'PT sans';
  font-weight: 400;
  font-size: 2.7rem;
  color: white;
  padding-top: 13px;
  text-decoration: none;
  margin: 81px auto;
}

.user__cab__exit__btn:hover {
  background-color: #EF075B;
}

.user__cab__lower__text {
  font-family: 'PT sans';
  font-weight: 400;
  font-size: 3.6rem;
  font-style: italic;
  color: #EEECF1;
  margin-left: 37px;
  margin-top: 204px;
}

.contacts {
  background-color: #d6d6d6;
  height: 821px;
}

.contacts__wrap {
  margin: 0 auto;
  height: 555px;
  padding: 0;
  max-width: 110rem;
  padding-top: 63px;
  text-align: center;
}

.contacts__tel__title,
.contacts__work__schedule__title,
.contacts__amail__title,
.contacts__adress__title {
  font-family: 'PT sans';
  font-weight: 400;
  font-size: 3.2rem;
  color: #000000;
  border-bottom: 3px solid #202846;
  text-align: left;
}

.tel__number,
.time_schrdule,
.amail__value,
.adress {
  font-family: 'PT sans';
  font-weight: 400;
  font-size: 3rem;
  color: #000000;
}

.contacts p {
  padding: 0;
  margin: 0;
}

.contacts__tel__container {
  width: 250px;
  height: 90px;
}


.contacts__work__schedule__container {
  width: 235px;
  height: 175px;
  vertical-align: top;
  margin: 0 16.4rem;
}

.contacts__amail__container {
  width: 265px;
  height: 92px;

}

.contacts__adress__container {
  width: 395px;
  height: 92px;

}


.contacts__work__schedule__container,
.contacts__amail__container,
.contacts__tel__container {
  display: inline-block;
}

.map {
  width: 577px;
  height: 335px;
  border-radius: 40px;
  position: relative;
  left: 28.2rem;
  bottom: 90px;
  box-sizing: border-box;
}

footer {
  height: 90px;
  background-color: #202846;
  padding: 21px 60px;
  box-sizing: border-box;
}

.footer__text {
  font-family: 'PT sans';
  font-style: italic;
  font-weight: 400;
  font-size: 3.6rem;
  margin: 0;
  color: #EEECF1;
}