.text {
  max-width: 790px;
  margin: 0px auto;
  padding: 10px;
}

.text ul{
  margin-left: 15px;
  padding: 0;
}

.text ol{
  margin-left: 15px;
  padding: 0;
}

.last_list ol { 
  list-style: none;
  counter-reset: li;
}

.last_list li{
  margin-bottom: 5px;
}

.last_list a{
  text-decoration: none;
}

.last_list li:before {
  counter-increment: li;
  content: counters(li, ".") ". ";
} 

