.show__pic {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
}

div {
  border: 1px solid;
  transition: all .6s;
}

div:hover {
  transform: scale(1.3);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}