.main-content {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  gap: 1rem;
  justify-content: space-around;
}
.load{
  position: absolute;
  left: 50%;
  top:40%;
}



/*------------------------  (screen < 992px) --------------------------- */

@media screen and (max-width: 1860px) and (min-width:992px) {

  .main-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    justify-content: space-around;
  }

}


/*------------------------  (screen < 992px) --------------------------- */

@media screen and (max-width: 992px) and (min-width:769px) {

  .main-content {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1rem;
    justify-content: space-around;
  }

}


/*------------------------  (screen < 992px) --------------------------- */

@media screen and (max-width: 769px){

  .main-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    justify-content: space-around;
  }

}